
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
.spinnerWrapper{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.spinner-border{
    color: #92C80C;
    width: 250px;
    height: 250px;
}
body, html {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    overflow: hidden;
    max-height: 100vh; /* Ajusta al menos el 50% de la altura de la ventana gráfica */
}

.hero video{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlaycontent {
    text-align: center;
    color: #fff;
}

.overlaytxt img {
    max-width: 100%;
    height: auto;
}


/* modificar la clase navbar directamente sobreescribe las clases predefinidas en bootstrap
fue eso lo que causaba el bug que impedia que el collapse se muestre adecuadamente */

.navbar img {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: auto;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .nav-item {
    margin-right: 20px; /* Ajusta el espacio entre los elementos, según tus preferencias */
    font-size: larger;
}
.separator {
    display: block;
    width: 150px; /* Ancho del separador */
    height: 5px; /* Altura del separador */
    background-color: #92C80C; /* Color verde (#00ff00) */
    margin: 0 auto; /* Espaciado alrededor del separador */
}

.section1{
    width: 100%;
    min-height: 70vh;
    object-fit: cover;
    background-size: cover;
    z-index: 15;
}
.icon{
    font-size: 2em;
}

.contextItem img{
    /* Podriamos ponerle bordes personalizados o alguna mamerta de esas  */
    border-color: #92C80C;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 70%;
    border-width: 100px;
    
}

.svg-class{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #92C80C;
}
.service-svg {
    color: white;
}

.bg-svg {
    background-color: #92C80C; /* Color verde especificado */
    border-radius: 50%; /* Hace que el fondo sea redondeado */
    padding: 20px; /* Ajusta el espacio dentro del fondo redondeado según tus necesidades */
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.custom-btn {
    color: #92C80C; /* Texto blanco *//* Color personalizado */
    border-color: #92C80C;
    margin-bottom: 15px; /* Color del borde */
    width: 20%;
    height: 100%;
    font-weight: bold;
}
.custom-btn:hover {
    background-color:#92C80C; /* Cambia el color al pasar el ratón por encima */
    border-color: #92C80C;
    color: white;
}

hr {
    background-color: #92C80C;
    height: 5px;
  margin-left: 0%;
  width: 50%;
  }
  .sectionhr {
    background-color: #92C80C;
    height: 5px;
  margin-left: 0%;
  width: 100%;
  }

.sectiontittle{
    font-size: 75px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif
}
.articletittle{
    font-size: 55px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif
}
  