.spinnerWrapper{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.spinner-border{
    color: greenyellow;
    width: 250px;
    height: 250px;
}
body, html {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    overflow: hidden;
    max-height: 100vh; /* Ajusta al menos el 50% de la altura de la ventana gráfica */
}

.hero video{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlaycontent {
    text-align: center;
    color: #fff;
}

.overlaytxt img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* modificar la clase navbar directamente sobreescribe las clases predefinidas en bootstrap
fue eso lo que causaba el bug que impedia que el collapse se muestre adecuadamente */

.navbar img {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: auto;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .nav-item {
    margin-right: 20px; /* Ajusta el espacio entre los elementos, según tus preferencias */
    font-size: larger;
}
.section1{
    width: 100%;
    min-height: 70vh;
    object-fit: cover;
}
