
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
.spinnerWrapper{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.spinner-border{
    color: #92C80C;
    width: 250px;
    height: 250px;
}
body, html {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    overflow: hidden;
    max-height: 100vh; /* Ajusta al menos el 50% de la altura de la ventana gráfica */
}

.hero video{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlaycontent {
    text-align: center;
    color: #fff;
}

.overlaytxt img {
    max-width: 100%;
    height: auto;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar img {
    width: 100px; /* Ajusta el ancho según tus preferencias */
    height: auto;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav .nav-item {
    margin-right: 20px; /* Ajusta el espacio entre los elementos, según tus preferencias */
    font-size: larger;
}
.separator {
    display: block;
    width: 150px;
    height: 5px;
    background-color: #92C80C;
    margin: 0 auto; 
}

.icon{
    font-size: 2em;
}
.cust-btn{
    background: none;
    border: none;
    height: 60%;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.cust-btn:hover{
    transform: scale(1.1);
}

.contextItem img{
    /* Podriamos ponerle bordes personalizados o alguna mamerta de esas  */
    border-color: #92C80C;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 70%;
    border-width: 100px;
    
}

.service-svg {
    color: white;
}

.bg-svg {
    background-color: #92C80C; /* Color verde especificado */
    border-radius: 50%; /* Hace que el fondo sea redondeado */
    padding: 20px; /* Ajusta el espacio dentro del fondo redondeado según tus necesidades */
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
/* ??? */
.custom-btn {
    color: #92C80C; /* Texto blanco *//* Color personalizado */
    border-color: #92C80C;
    margin-bottom: 15px; /* Color del borde */
    width: 20%;
    height: 100%;
    font-weight: bold;
}
.custom-btn:hover {
    background-color:#92C80C; /* Cambia el color al pasar el ratón por encima */
    border-color: #92C80C;
    color: white;
}

hr {
    background-color: #92C80C;
    height: 5px;
    margin-left: 0%;
    width: 50%;
}

.articletittle{
    font-size: 55px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    color: #92C80C;
    
}
.svg-class{
    position: absolute;
    bottom: 0;
}

.svg-class{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    color: #92C80C;
}
.service-svg {
    color: white;
}
/* ???? */
.custom-btn {
    color: #92C80C; /* Texto blanco *//* Color personalizado */
    border-color: #92C80C;
    margin-bottom: 15px; /* Color del borde */
    width: 15%;
    height: 100%;
    font-weight: bold;
}
.custom-btn:hover {
    background-color:#92C80C; /* Cambia el color al pasar el ratón por encima */
    border-color: #92C80C;
    color: white;
}


.svg-class2{
    transform: scaleY(-1);
    position: absolute;
    left: 0;
    width: 100%;
    color: #92C80C;
}

.brandContext p{
    font-size: 3zvmin;
}

.element {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Puedes ajustar la duración y la función de tiempo según tus preferencias */
}
.counter {
    transition: opacity 1s ease-in-out; /* Puedes ajustar la duración y la función de tiempo según tus preferencias */
    color: white;
    font-weight: bold;
}

.svg-border-rounded svg {
    position: relative;
    left: 0;
    height: 4.5rem;
    width: 100%;
    color: #92C80C;
}
.svg-class3{
    position: relative;
    left: 0;
    background-color: #92C80C;
    width: 100%;
    height: 3.5rem;
}
.section-numeros{
    background-color: #92C80C;
}

.hover-zoom {
    transition: transform 0.3s ease-in-out;
} 
.hover-zoom:hover {
    transform: scale(1.1);
}

.shadow-green{
    -webkit-filter: drop-shadow(2px 1px 0 #92C80C) drop-shadow(-1px -1px 0 #92C80C);
    filter:drop-shadow(2px 1px 0 #92C80C) drop-shadow(-1px -1px 0 #92C80C);
}
.shadow-black{
    -webkit-filter: drop-shadow(2px 1px 0 black) drop-shadow(-1px -1px 0 black);
    filter:drop-shadow(2px 1px 0 black) drop-shadow(-1px -1px 0 black);
}


footer{
    background-color: #92C80C;
    position: relative;
}

.site-footer-dron{
    height: 200px;
    width: 400px;
    position: absolute;
    top: -150px;
    right: 30px;
    transform-origin: center bottom;
    animation-fill-mode: both;
    animation-name: banner3Shake;
    animation-timing-function: ease-out;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.footer-img{
    margin-top: -50px;
}
@media (max-width:768px){
    .site-footer-dron{
        display: none;
    }
}
@keyframes banner3Shake{
    0%,100%{
        transform: perspective(400px) rotate(0deg) translateZ(0px) translateY(0) translateX(0);
    }
    50%{
        transform: perspective(400px) rotate(5deg) translateZ(30px) translateY(10px) translateX(0);
    }
}

.grey-diagonal-wrapper {
    width: 120%;
    height: 280px;
    background-color: white;
    overflow: hidden;
    transform: translateY(-80px)rotate(6deg);
}
.decoration-wrap.reverse.absolute {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

decoration-wrap {
    width: 100%;
    object-fit: cover;
    background-image: none;
    position: relative;
}
.section-new.light-blue {
    background-color: #92C80C;
    position: relative;
    overflow: hidden;
}
.dots-block{
    height: 200px;
}